.entry-content{
	font-display: "Roboto";
}

.pullquote{
	font-family: 'Playfair Display', serif;
	font-size: 32px;
	font-style: italic;
	width: 500px;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color:black;
	background: 
		linear-gradient(#d30f0f , #d30f0f) bottom right/ 60% 5px,
		linear-gradient(#d30f0f, #d30f0f) top left/ 60% 5px,
		linear-gradient(#d30f0f, #d30f0f) top left/ 5px 70%,
		linear-gradient(#d30f0f, #d30f0f) bottom right / 5px 70%;
	background-repeat: no-repeat;
}
