.shows img {
	width: 270px;
	height: 200px;
	margin: 0.5em 0;
}

.shows p {
	font-size: 12px;
}

.menu-show {
	margin-bottom: 1em;
}

.single-title {
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	left: -10px;
}

.show-image {
    border-radius: 50%;
}

#dj-show-content {
    margin-top: 50px;
}

.show-title {
    text-decoration: underline;
    text-decoration-color: red;
}

.playlists {
	margin-top: 50px;
	align-items: center;
}

.playlists h3 {
	border-bottom: 5px red solid;
}

table, td {
	border-top: 1px solid black;
}

.dj-logo {
	width: 70%;
}

.playlist-buttons {
	text-align: center;
}

.playlistButton {
	margin: 5px;
	border-style: solid;
}

@media only screen and (max-width: 575px) {
	.shows, #dj-show-content {
		text-align: center;
	}
	.show-image {
		position: relative;
		bottom: 20px;
	}
}