
#header-line {
	border-style: solid;
	border-color: red;
	border-width: medium;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

#interview-content {
	position: relative;
	z-index: 2;
	bottom: 10px;
}

#single-title {
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	left: -10px;
}

.entry-meta {
	padding-top: 10px;
	padding-bottom: 20px;
}

.sidebar {
	position: relative;
	top: 70px;
	//border-style: solid;
	//max-width: 335px;
	//text-align: center;
}

.spotify {
	margin: auto;
	max-width: 300px;
	//border-style: solid;
}

.socials {
	display: flex;
	justify-content: space-between;
	max-width: 250px;
	margin: 25px auto;
	//border-style: solid;
}

.sidebar a {
	width: 50px;
	display: inline-block;
}

.author-box {
	margin: 30px auto;
	max-width: 300px;
	//border-style: solid;
}

.author-img {
	display: inline;
}

.author-name {
	display: inline;
	font-size: 20px;
	vertical-align: -10%;
	padding-left: 5px;
}

.author-description {
	padding-top: 15px;
}

@media only screen and (max-width: 575px) {
	.sidebar {
		position: static;
	}
}