// #mp-thumbnail {
//     width: 300px;
//     height: 245px;
// }

#header-line {
	border-style: solid;
	border-color: red;
	border-width: medium;
	position: absolute;
	left: 0;
    right: 0;
    top: 215px;
}