.entry-header img {
	width: 270px;
	height: 200px;
	border-style: solid;
	border-color: gray;
}

.entry-header {
	width: 100%;
	height: auto;
}

.header-line {
	border-style: solid;
	border-color: red;
	border-width: medium;
	position: absolute;
	left: 0;
    right: 0;
	z-index: 1;
	margin-top: -5px;
}

#mainpage-content {
	position: relative;
	z-index: 2;
	top: 22px;
}

.mpa-meta {
	margin: 5px 20px;
}

.mpa-meta #title {
	margin-bottom: 5px;
}

.mpa-meta #date {
	margin-bottom: 0;
	font-size: 12px;
}