.entry-header img {
	width: 270px;
	height: 200px;
}

.header-line {
	border-style: solid;
	border-color: red;
	border-width: medium;
	position: absolute;
	left: 0;
    right: 0;
	z-index: 1;
	margin-top: -5px;
}

.mp-articles {
	position: relative;
	z-index: 2;
	top: 30px;
	margin: auto;
}

.pagination {
  margin-top: 10px;
}

.mpa-meta {
	margin: 5px 20px;
}

.mpa-meta #title {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	margin-bottom: 0;
}

#mpa-date {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 300;
	font-size: 12px;
	margin-bottom: 0;
}

.dj-show-image {
	object-fit: cover;
}

@media only screen and (max-width: 575px) {
	.entry-header {
		text-align: center;
	}
}