.playerbar {
  color: $white;
  background-color: $black;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  font-size: 1.2em;
  padding: 8px;
  text-align: center;
}

.player-text {
  text-align: center;
  display: inline;
  margin-right: 2px;
}

.play-button {
  display: inline;
  position: relative;
  bottom: 2px;
}

.fa-play-circle, .fa-pause-circle {
  cursor: pointer;
}

#volume-slider {
  -webkit-appearance: none;
  cursor: pointer;
  height: 5px;
  background-color: #d30f0f;
  position: relative;
  bottom: 5px;
  border-radius: 2px;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $white;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  cursor: pointer;
}

/* Tablet and Mobile Styles */
@media only screen and (max-width: map_get($grid-breakpoints, md)) {

  .playerbar {
    width: 100%;
  }

  .volume-controls {
    display: none;
  }
}
