.podcast-logo {
  display: block;
  margin: auto;
}

.podcast-info {
  padding: 30px 0;
  border-bottom: 5px solid #D30F0F;
}

.podcast-info.first {
  padding-top: 0;
}

.podcast-date {
  margin-top: 10px;
}

.latest-episode {
  font-size: 12px;
  margin-bottom: 12px;
}

.play-button--podcast {
  width: 30px;
}

.listen-now {
  font-weight: bold;
  color: red;
  font-size: 18px;
}

.more-link {
  text-decoration: underline;
}

.category-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;

  .podcast-logo {
    height: 200px;
    max-width: 200px;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.episodes-title {
  margin-top: 1em;
  text-decoration: underline;
  text-decoration-color: #D30F0F;
}

.podcast-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.podcast-link:hover {
  text-decoration: none;
}

// Mobile Styles
@media only screen and (max-width: map_get($grid-breakpoints, sm)) {
  .entry-title {
    width: auto;
  }

  .podcast-info {
    text-align: center;
  }

  .podcast-logo {
    margin-bottom: 20px;
  }

  .category-info {
    display: block;
  }
}
