.related-articles-container {
  margin-top: 1em;
}

#ra-line {
  margin-top: -10px;
}

.related-article {
  max-width: 305px;
}

.ra-articles {
  margin-top: 3em;
  justify-content: space-between;
}

/* Mobile Styles */
@media only screen and (max-width: map_get($grid-breakpoints, sm)) {
  .related-article {
    margin: auto;
  }

  .ra-title {
    text-align: center;
  }
}




