form.searchform {
  position: relative;
  top: 10%;
  left: 87.5%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 40px;
  background: #e2dfdf;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
}

input.field{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #e2dfdf;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 15px;
  padding: 0 20px;
}

.fa{
  color: #363434;
}

form:hover{
  width: 200px;
  cursor: pointer;
}

form:hover input{
  display: inline;
}

form:hover .fa{
  display: none;
}


