//body {
//  padding: 0;
//  margin: 0;
//  height: 100vh;
//  width: 100%;
//  background: #07051a;
//}

form.searchform{
  position:absolute;
  left:80%;
  top:50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #c5c9cf;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #c5c9cf;
  padding: 5px;
}

#search-input {

  background-color: #c5c9cf;

  border: 0px;
  font-size: 1em;
  border-radius: 20px;
  display: none;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form.searchform:hover{
  width: 200px;
  cursor: pointer;
}

form.searchform:hover #search-input{
  display: inline-block;
  height: 100%;
  background-color: #c5c9cf;

}

