# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/wrbb-templates/cache/
src/wrbb-templates/api-key.txt
src/img/djlogos
package-lock.json

# IDE
.idea/
.idea/*

# Compiled files
js/*
js/theme.*
css/*
css/theme.*
